{{#each makeMenu.menus as |menu|}}
  <div class="col-sm-6 my-2 p-0">
    <div class="container d-flex justify-content-center">
      <div class="card menu_item" style="width: 500px">
        <button class="menu-card" id="{{menu.id}}">
          <div class="row no-gutters card_content">
            <div class="col-sm-5">
              <img
                class="card-img"
                src="/assets/food_photos/{{menu.id}}.png"
                alt="menu item photo"
              />
            </div>
            <div class="col-sm-7 py-2">
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title d-inline">{{menu.name}}</h5>
                  <p class="card-text d-inline">{{menu.price}}</p>
                </div>
                <p class="card-text">{{menu.description}}</p>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
{{/each}}